<!DOCTYPE html>
<html>

<header>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">
</header>

<body>
    <title>About</title>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Robert Brons. It uses data from Weather Stack and mapbox.com</p>
        <img class="portrait" src='./img/about1.jpg'>
    <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
    
</body>

</html>